{% extends "layout.html" %}

{% block blockbody %}
<h2>Articles Page</h2>
<hr>

<form>
    {% csrf_token %}
    <input type="text" name = "keyword" class="input-sm" maxlenght="64" placeholder="Ara.." />
    <button type="submit" class="btn btn-danger">Ara</button>
</form>
{% if article %}
{% for art in article %}
<header class="mb-4">
<!-- Post title-->
<a href="{% url 'article:detail' art.id %}" class="text-decoration-none" style="color : red;"><h2>{{art.title}}</a></h2>
<!-- Post meta content-->
<div class="text-muted fst-italic mb-2">{{art.created_date}} by {{art.author}}</div>
<!-- Preview image figure-->
<img class="img-fluid rounded" src="{{ art.file.url }}" style="width:900px; height: 600px" alt="...">
<!-- Post content-->
{{art.content|safe|truncatechars:10}}
<br>
<br>

<a href="{% url 'article:detail' art.id %}" class="btn btn-danger">Devamı</a>
<hr>

{% endfor %}
{% else %}
<div class="alert alert-danger">MAKALE BULUNAMAMIŞTIR</div>
{% endif %}

{% endblock blockbody %}